@import "../reset.scss";

.review-contents {
  display: flex;
  flex-direction: column;
}

.review-content {
  display: flex;
  margin-bottom: 20px;
}

.review-img {
  margin-right: 15px;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.review-info {
  .review-cake {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #222222;
  }
  .review-option {
    font-size: 12px;
    font-weight: 700px;
    color: #777777;
  }
  .review-button {
    margin-top: 30px;
    padding: 6px 160px;
    border-radius: 5px;
    background-color: $pink;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    span {
      font-size: 10px;
    }
  }
}
