@import "../reset.scss";

.main-cake {
  margin-top: 80px;
  .cake-contents {
    padding: 0 $basic-padding;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
