@import "reset.scss";

.header-ad {
  padding: 0 $basic-padding;
  line-height: 50px;
  background-color: $pink;
}

.header-ad-text {
  position: relative;
  padding-left: 50-$basic-padding;
  font-size: 13px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-align: center;
}

.header-ad-button {
  float: right;
  line-height: 49px;
  background-color: inherit;
  font-size: 10px;
  color: rgb(255, 255, 255);

  img {
    margin: 0 0 0 7.7px;
    position: relative;
    top: 7px;
  }
}

//메인

.head {
  padding: 0 $basic-padding;
  line-height: 82px;
  border-bottom: 1px solid #eee;
}
.logo {
  vertical-align: middle;
  margin-right: 22px;
}
.head form {
  display: inline-block;
}

.head input {
  width: 400px;
  height: 46px;
  background-color: #f8f8f9;
  border-radius: 200px;
  padding-left: 20px;

  background-color: transparent;
  background-image: url("../assets/searchIcon.png");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 95% center;

  &::placeholder {
    font-weight: 500;
    font-size: 13px;
  }
}

.login {
  float: right;
  line-height: 82px;
  font-size: 14px;
}

// 메뉴바
.menu-bar {
  padding: 15px $basic-padding;
  font-weight: 700;
  color: $pricetext;
  border-bottom: 1px solid #eee;
}

.menu-bar a {
  margin-right: 5rem;
  color: #333333;
}

.menu-bar a:hover {
  color: $pink;
  border-bottom: none;
}

.menu-bar a:focus {
  color: $pink;
  padding-bottom: 3px;
  border-bottom: 3px solid $pink;
  transition: all 0.1s ease-in;
}
