.seller-review-card {
  margin: 0 0 40px 0;
}

.ordered-cake {
  font-size: 12px;
  color: #777;
  font-weight: 500;
  line-height: 22px;
}

.review-content {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
