@import "../reset.scss";

.order-view-type {
  display: inline-block;
  float: right;

  color: #222222;
  font-size: 16px;
  font-weight: 700;
  a {
    margin: 0 10px;
  }
}

.view-list {
  color: $pink;
}
.view-list:focus {
  color: $pink;
}

.seller-bottom {
  display: flex;
  flex-direction: row;
}
.seller-order-content {
  margin-bottom: 20px;
}

.order-time {
  margin-bottom: 15px;
  color: #777777;
  font-size: 14px;
  font-weight: 500;
}

.pickup-time {
  margin-top: 5px;
}

.pay {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 300;
  color: #777777;
}
