@import "./reset.scss";

.recommend {
  margin: 0;
  background-color: #fafafa;
  padding: 80px 0;

  .recommend-contents {
    margin: 0 $basic-padding;
    display: flex;
    justify-content: space-between;
  }
}
