@import "./reset.scss";

.mypage {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-size: 14px;
}

.side-bar {
  width: 240px;
  height: 80vh;
  padding-top: 80px;
  background-color: $pink;

  .name {
    margin-left: 34px;
    margin-bottom: 2px;
    font-size: 25px;
    font-weight: bold;
  }
  .email {
    margin-left: 34px;
    margin-bottom: 60px;
    font-size: 14px;
  }
}

.mypage-menu {
  display: block;

  .mypage-menu-item {
    display: block;
    margin: 0 0 32px 32px;
    padding: auto 16px;
    width: 208px;
    height: 48px;
    border-radius: 25px 0 0 25px;

    color: #fff;
    background-color: lawngreen;
    font-weight: 700;
  }

  .mypage-menu-item:active {
    background-color: #fff;
    color: $pink;
  }
}
