@import "./reset.scss";

.mypage-section {
  color: #fff;
  margin-left: $basic-padding;
  margin-right: 90px;
}

.side-bar {
  width: 240px;
  height: 80vh;
  padding-top: 80px;
  background-color: $pink;

  .name {
    margin-left: 34px;
    margin-bottom: 2px;
    font-size: 25px;
    font-weight: bold;
  }
  .email {
    margin-left: 34px;
    margin-bottom: 60px;
    font-size: 14px;
  }
}

.mypage-menu {
  display: block;
  width: 100%;

  .mypage-menu-link {
    display: block;
    // float: ri
    border-radius: 25px 0 0 25px;
    padding-top: 16px;
    padding-left: 20px;
    width: 208px;
    height: 48px;
    color: #fff;
  }

  .mypage-menu-link:focus {
    background-color: #fff;
    color: $pink;
    font-weight: bold;
  }
}

.mypage-menu-item {
  vertical-align: middle;
  margin-left: 33px;
  margin-bottom: 20px;
}

.mypage-menu-item:focus,
.icon:focus {
  background-color: #fff;
}

.icon {
  margin-right: 15px;
}

.customer-center {
  position: relative;
  top: 200px;
  left: 48px;
}
