button,
input {
  border: none;
  background-color: inherit;
  color: inherit;
}
a {
  text-decoration: none;
}

Link {
  color: #333333;
}

$pink: #ea5450;
$letter-pink: #e74373;

$pricetext: #333333;
$sub-text: #262626;
