button,
input {
  border: none;
  background-color: inherit;
  color: inherit;
}
a {
  text-decoration: none;
  color: initial;
}

Link {
  color: #333333;
}

select {
  border: none;
  background-color: inherit;
}
select:focus {
  outline: none;
}

input:focus {
  outline: none;
}
$pink: #ea5450;
$letter-pink: #e74373;

$pricetext: #333333;
$sub-text: #262626;

$basic-padding: 15%;
