.seller-store {
  margin: 90px auto;
}
.store-img-add {
  margin: 0 0 30px 0;
  height: 120px;
  width: 120px;
  background-color: #ebebeb;
  border-radius: 5px;
}

.seller-store-top {
  margin-bottom: 30px;
}
