@import "../reset.scss";

.seller-section {
  background-color: #fff;
  margin-right: 90px;
  margin-left: $basic-padding;
}
.seller-list {
  background-color: #f5f5f5;
}

.seller-icon {
  margin-left: 34px;
}

.seller-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seller-menu-link {
  margin-bottom: 15px;
  padding: 15px 30px;
  display: flex;
  width: 175px;
  height: 50px;
  background-color: #fff;
  border-radius: 25px;

  font-size: 14px;
  color: #999999;
}

.seller-menu-link:focus,
.seller-menu-item:focus {
  color: #fff;
  background-color: $pink;
  stroke: $pink;
  text,
  circle,
  path,
  tspan,
  ellipse,
  line {
    stroke: #fff;
  }
}

.icon:focus {
  stroke: $pink;
}

.seller-center {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  position: absolute;
  bottom: 30px;
  left: 32.5px;

  width: 175px;
  height: 50px;

  font-size: 14px;
  color: #999999;

  background-color: #fff;
  border-radius: 10px;
}

.icon {
  margin: 0 15px 0 0;
}
